<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center cyan-text par_h1">Welcome to Pups N Suds professional dog grooming.</h1>
      <br><br>
      <div class="row center">
        <h5 class="header col s12 light par_h5">Burlington's Friendliest Dog Groomer</h5>
      </div>
      <!-- <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div> -->
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="assets/dogs.jpeg" alt="Unsplashed background img 1"></div>
</div>


<div class="container info_container">
  <div class="section info_section">

    <!--   Icon Section   -->
    <div class="row mission">
      <div class="col s12 m5 forty">
        <div class="icon-block forty-div">
          <h2 class="center brown-text paw"><%= image_tag "noun_547449_cc.svg" %></h2>
          <h5 class="center">Mission</h5>

          <p class="light">
          	At Pups N Suds we believe that all dogs deserve to look and feel their best. Pups N Suds prides itself in pampering dogs and making them feel loved.
          	A coat free of mats, burs, tangles and skin free of fleas and ticks means your dog will be comfortable and happy.
          	Regular grooming keeps your pets coat smelling fresh and looking at its best.
          </p>
          <!-- <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p> -->
        </div>
      </div>

      <div class="col s12 m7 sixty">
        <div class="icon-block">
          <h2 class="center brown-text paw"><%= image_tag "dog_house.svg" %></h2>
          <h5 class="center">Your dog's day at the spa includes</h5>

          	<ul class="spa_list">
          		<li class="light">Complete skin analysis</li>
          		<li class="light">Brush out and or clipping</li>
          		<li class="light">Cleaning of the ears</li>
          		<li class="light">Trimming of the nails</li>
          		<li class="light">Bathing with  our hypo-allergenic shampoo</li>
          		<li class="light">Velocity dried and re-brushed</li>
          		<li class="light">We also offer specialized treatments such as flea and skunk baths and medicated shampoos for dry itchy coats.</li>
          	</ul>
          <!-- <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p> -->
        </div>
      </div>

      <!-- <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div> -->
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Flexible hours offered to accommodate for those who work.</h5>
        <h5 class="header col s12 light">For more information or to schedule an appointment please call (905) 320-9050.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Top Ten reasons why it costs more to get your pet groomed than your own hair cut</h4>
        <!-- <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p> -->
        <ol class="left-align light">
          <li class="light">The likelihood of you pooping on the hairdresser is pretty slim</li>
          <li class="light">You don't bite or scratch your hairdresser</li>
          <li class="light">Your hairdresser only washes and cuts the hair on your head</li>
          <li class="light">Your haircut doesn’t include a manicure and pedicure</li>
          <li class="light">You sit still for your hairdresser</li>
          <li class="light">Your hairdresser doesn't have to remove the boogies from your eyes</li>
          <li class="light">Your hairdresser doesn't have to clean your ears</li>
          <li class="light">Your hairdresser doesn't have to give you a sanitary trim</li>
          <li class="light">You don't go for eight weeks without washing or brushing your hair</li>
          <li class="light">Your hairdresser doesn't wash and clean your rear end</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/background3.jpg" alt="Unsplashed background img 3"></div>
</div>
