<h2>Grooming Rates</h2>

<h3>Prices based on pets in good condition, disposition and breed sizes.</h3>
<section>
	<ul>
		Small (shih tzu, Yorkshire terrier etc.):  $45-$60
		Medium (Cocker Spaniel, Cockapoo etc.)  $50 and up
		Large (Goldens, Airedales etc.):  $60 and up
		X-Large (Berness Mountain Dog etc.):  $80 and up
		Medicated shampoos:  $5.00
		Nail Trimming only:  $10.00
		Paw trimming &amp; nails only:  $15.00
		Flea baths:  $6.00
		Skunk baths:  $10.00
	</ul>
</section>
<p>
	Additional costs may apply if extra time is spent due to the temperament of the dog or heavily matted dogs.
</p>
<p>
	Every step will be taken to ensure your dog is not subjected to any undue pain and discomfort while de-matting.
</p>
<p>
	If the coat is heavily matted it may be in the best interest of the dog to remove the coat.
</p>

<section>
	Full Groom includes:
	<ul>
		De-matting and Pre-groom
		Ear cleaning
		Nail trimming
		Bathing in hypo-allergenic natural shampoos and conditioners
		Complete blow dry
		Professional Scissor shaping
		Please allow 2 - 3 hours for the full grooming process.
		Be sure that your dog's best interest, comfort and happiness are our #1 priority.
		For more information, you can also email us at jsmith@pupsnsuds.ca
	</ul>
</section>
