// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  /*font-family: "Roboto", sans-serif;*/
  font-family: 'Unkempt', cursive;
}


// index =========
.par_h1 {

}

.par_h5 {
  font-size: 30px;
  color: #e04075;
}
.paw img {
    height: 80px;
}

.paw {
    margin-bottom: 0px;
    height: 80px;
}
ul.spa_list {
  line-height: 2;
  padding-left: 20px;
}
.mission {
  margin-bottom: 0px;
}
.spa_list .light {
    list-style-type: circle;
    font-size: 1.2em;
}

p.light {
    font-size: 1.2em;
}
.forty-div {
  border-right: 2px solid #e04075;
  padding-right: 30px;
}

nav {
  height: 100px;
}
#logo-container {
  line-height: 1.3em;
}
.brand-logo span {
  // font-family: 'Cabin Sketch', cursive;
  // font-family: 'Sansita', sans-serif;
  // font-family: 'Comfortaa', cursive;
  // font-family: 'Gruppo', cursive;
}
.map {
  width: 100%;
}

// .map {
// 	width: 100%;
// 	margin: 50px 0 3000px;
// }
.map iframe{
	width: 100%;
	display: block;
	pointer-events: none;
	position: relative; /* IE needs a position other than static */
}
.map iframe.clicked{
	pointer-events: auto;
}
