// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  /*font-family: "Roboto", sans-serif;*/
  font-family: 'Unkempt', cursive;
}


// index =========
.par_h1 {

}

.par_h5 {
  font-size: 30px;
  color: #e04075;
}
.paw img {
    height: 80px;
}

.paw {
    margin-bottom: 0px;
    height: 80px;
}
.spa_list {
  line-height: 2;
}
.mission {
  margin-bottom: 0px;
}
.spa_list .light {
    list-style-type: circle;
    font-size: 1.2em;
}

p.light {
    font-size: 1.2em;
}
.forty-div {
  border-right: 2px solid #e04075;
}
