// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  /*font-family: "Roboto", sans-serif;*/
  font-family: 'Unkempt', cursive;
}


// index =========
.par_h1 {

}

.par_h5 {
  font-size: 30px;
  color: #e04075;
}
.paw img {
    height: 80px;
}

.paw {
    margin-bottom: 0px;
    height: 80px;
}
.forty {
  width: 40%;
}
.sixty {
  width: 60%;
}
// .info_container {
//   width: 100%;
// }
// .info_section {
//   width: 85%;
//   margin: auto;
// }
