<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Pups N Suds Dog Grooming</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Gruppo|Sansita|Unkempt:700" rel="stylesheet">
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Pups 'n Suds<br /><span>Dog Grooming</span></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/users">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/rates">Rates</a></li>
          <li><a href="/rates">Book an Appointment</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/users">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/rates">Rates</a></li>
          <li><a href="/rates">Book an Appointment</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons cyan-text">menu</i></a>
      </div>
    </nav>


    <%= yield %>

    <footer class="page-footer cyan">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About Us</h5>
            <p class="grey-text text-lighten-4">
              Pups N Suds is conveniently located in the heart of Burlington.
              1572 Kerns Rd., Unit 6
              Burlington, ON L7P 3A7
              <br><br>
              Please Call 905-320-9050 to schedule an appointment today!
              <!-- We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated. -->
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Hours of operation</h5>
            <ul>
              <li class="white-text">Mon - Fri: 9:00am - 8:00pm</li>
              <li class="white-text">Weekends: 9:00am - 3:00pm</li>
              <li class="white-text">Closed Holidays</li>

              <!-- <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li> -->
            </ul>
          </div>
          <div class="col l3 s12">
            <!-- <h5 class="white-text">Connect</h5> -->
            <!-- TODO add links to facebook, email, phone ** with icons -->
            <!-- <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul> -->
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <!-- <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div> -->
      </div>
    </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  </body>
</html>
